@import "../../variables";
.row{
    margin-left: 20px;
}
.img-port{
    margin-left: 100px;
    margin-top:40px;
    padding-left:-100px;
    
    .retreat{
        margin-right: 45px;
        margin-left: 0px;
    }
}
._ngcontent-c9 {
    padding-left: 30px;
}
/*.retreat{
    margin-right: 45px;
}*/