@import "../../variables";
.img-port1{
    margin-left: 230px;
    margin-top:40px;
    margin-bottom: 110px;
    
}


.retreat1{
    /*background-color:$ff;*/
    width: 200px;
    height: 300px;
    padding-left: 46px;
    padding-top: 30px;
}
.retreat2{
    width: 200px;
    height: 300px;
    /*border: $bborder;*/
    padding-left: 46px;
    padding-top: 30px;
}
.text22{
    color:$gray;
    font-size: 20px;
    
  
}
.text23{
    color: $gray;
    font-size: 13px;
    margin-left: -20px;
}
.text24{
    color:$gray;
    font-size: 20px;
    margin-left: 16px;
}
.text25{
    color: $gray;
    font-size: 20px;
    margin-right: 40px;
}

.bg-foot{
    background-image:url("../../../assets/images/bg-foot.jpg");
    height: 220px;
    color: $whitecolor;
    
}

