@import "../../variables";
div#secondheader {}
.artim_logo{
	height:20px;
	width:250px;
	margin-top:30px;
	margin-bottom:25px;
	margin-left:100px;
	display:$inline;
    color:dimgray;
    font-style:Arial Black;
}
.menu_hrefs{
	height:10px;
	font-size:1em;
	font-family:Segoe UI,$printSS;
	font-weight:normal;
    text-decoration:none;
    margin: 3px;
    padding: 1px;
}
.menu-container{
	float:right;
	display:$inline;
	margin-top: 40px;
	margin-bottom: 30px;
	margin-left: 0px;
	margin-right:0px;
}