<div class="row">
  <div class="col-sm-12 img-port">
      <div class="row">
          <div class="col-sm-2 retreat">
              <img src="../../../assets/images/1.png">
          </div>
          <div class="col-sm-2 retreat">
              <img src="../../../assets/images/2.png">
          </div>
          <div class="col-sm-2 retreat">
              <img src="../../../assets/images/3.png">
          </div>
          <div class="col-sm-2">
              <img src="../../../assets/images/4.png">
          </div>
      </div>
  </div> 
</div>