<div class="row ">
  <div class="col-sm-12 iminf ">
      <div class="row text-center side" >
          <p *ngFor="let block of info" class="col-sm-3 text10">{{ block.number+0}}<br> {{block.text}} </p>
         
          
        
          <!-- <div class="col-sm-3 text10">
              <p>350<br>Happy Clients</p>
          </div>
          <div class="col-sm-3 text10">
              <p>180<br>Celebration</p>
          </div>
          <div class="col-sm-3 text10">
              <p>280<br>Projects Done</p>
          </div>
          <div class="col-sm-3 text10">
              <p>150<br>Awards</p>
          </div> -->
          
      </div>
  </div>
</div>