<div class="row">
  <div class="col-sm-12 bg-foot2">
      <div class="row ">
          <div class="col-sm-3">
              <img src="../../../assets/images/p.png" class="p">
              <p class="foot">info@yourcompany.com</p>
             
          </div>
          <div class="col-sm-4 ">
              <img src="../../../assets/images/t.png" class="t">
              <p class="foot2 ">00 1234 567 890</p>
              
          </div>
          <div class="col-sm-3">
              <img src="../../../assets/images/m.png" class="m">
              <p class="foot5 ">support@company.com</p>

          </div>
      </div>
  </div>
</div>
