@import "../../variables";
.row{
    margin-left: 20px;
}
.img-port2{
    margin-left: 100px;
    margin-top:15px;
    margin-bottom: 80px;
    .retreat{
        margin-right: 45px;
     }
}
.retreat{
    margin-right: 45px;
}