<!--The content below is only a placeholder and can be replaced.-->
<app-home></app-home>
    <app-header></app-header>
    <app-secondheader></app-secondheader>
    <app-photo-div></app-photo-div>
    <app-rowbg></app-rowbg>
    <app-portfolio></app-portfolio>
    <app-nav></app-nav>
    <app-blog1></app-blog1>
    <app-blog2></app-blog2>
    <app-iminf></app-iminf>
    <app-meet></app-meet>
    <app-peopleblog></app-peopleblog>
    <app-connects></app-connects>
    <app-contactsphoto></app-contactsphoto>
    <app-ends></app-ends>
   