
<br>
<br>
<br>
<div class = "home_ref">
<button routerLink="/"> Return to main page </button>
</div>
<br>
<br>
<p class="main">Information:</p>
<p class="info">Title:<br> {{company.title}}</p>
<p class="info">Description:<br> {{company.description}}</p>
<p class="info">Logo:<br> {{company.image}}</p>
<p class="info">Banner:<br> {{company.image1}}</p>
<p class="info">Website:<br> {{company.website}}</p>


<p class="info">Created at:<br> {{company.create}}</p>
<p class="info">Country:<br> {{company.country}}</p>
<p class="info">Count of employees:<br> {{company.emplo}}</p>
<p class="info">CEO of company:<br> {{company.seo}}</p>
<p class="info">City:<br> {{company.city}}</p>
<p class="info">Address:<br> {{company.address}}</p>


<p class="info">Card name: <br>{{company.cardnumber}}</p>
<p class="info">Month:<br> {{company.month}}</p>
<p class="info">Year:<br> {{company.year}}</p>
<p class="info">CVC:<br> {{company.cvc}}</p>