<div id="headerdiv">
  <a href="http://facebook.com" target="_blank" ><img class="top_hrefs" src="\assets\images\facebook-logo.png"><img/></a>
<a href="http://twitter.com" target="_blank" ><img class="top_hrefs" src="\assets\images\TwitterLogo_white.png"><img/></a>
<a href="http://google.com" target="_blank" ><img class="top_hrefs" src="\assets\images\gooogle_icon.png"><img/></a>
<a href="http://instagram.com" target="_blank" ><img class="top_hrefs" src="\assets\images\Instagram-white.png"><img/></a>	
</div>