@import "../../variables";
.bg-foot{
    background-image:url("../../../assets/images/bg-foot.jpg");
    height: 220px;
    color: $whitecolor;
    
}

.text26{
    margin-top: 140px;
    font-size: 17px;
}
.text27{
    font-size: 32px;
    font-weight:$typeBold;
}