<div id="secondheader">
  
     <div class="artim_logo">
     <h1> .artim | logo</h1>
     </div>
     <div class="menu-container">
     <a href="http://localhost:4200/" class="menu_hrefs" src="">Homepage</a>
     </div>
     <div class="menu-container">
     <a href="http://localhost:4200/" class="menu_hrefs" src="">About us</a>
     </div>
     <div class="menu-container">
     <a href="http://localhost:4200/" class="menu_hrefs" src="">Services</a>
     </div>
     <div class="menu-container">
     <a [routerLink] = "formLink" class="menu_hrefs" src="">Projects</a>
     </div>
     <div class="menu-container">
     <a [routerLink] = "formLink" class="menu_hrefs" src="">Blog</a>
     </div>
     <div class="menu-container">
     <a [routerLink] = "formLink" class="menu_hrefs" src="">Contact</a>
     </div>
         </div>