<div class="row bg">
  
  <div class="col-sm-12">
      
      <div class="row block ">
          
          <div class="col-sm-3 img">
              <h1 id="aboutus">ABOUT US</h1>
              <h1 id="aboutur-text">
              <br/>
                  I am text block. Click edit button to change this text. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
              </h1>
              <p></p>
          </div>
          <div class="col-sm-7 inf">
              <div class="row">
                  <div class="col-sm-6 text-center ">
                      <h6 class="text1">Graphic Design</h6>
                      <p class="text2">Write a short description, that will describe the<br> title or something informational and useful.</p>
                      
                      <h6 class="text4">Development</h6>
                      <p class="text5">Write a short description, that will describe the title or something informational and useful.</p>
                  </div>
                  <div class="col-sm-6 text-center text3">
                      <h6 class="text1">Web Design</h6>
                      <p class="text2">Write a short description, that will describe the<br> title or something informational and useful.</p>
                      
                      <h6 class="text4">Strategy</h6>
                      <p class="text5">Write a short description, that will describe the title or something informational and useful.</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>